body {
margin: 0;
}

.carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.carousel-item {
  height: 100vh;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo-img {
  display: block;
  margin: auto;
}

.access-btn {
  border: none;
  background: none;
}

/* Homepage carousel */

.react-multi-carousel-item{
  margin: 1rem;
}

.carousel-img-container{
  width: 100%;
  height: 80%;
  border-radius: 100px;
}

.carousel-img-container img{
  height: 100%;
  border-radius: 10px;
}

.homepage-container{

}

.homepage-header-container{
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
  flex-direction: column; 
}

.homepage-header-container h1, p{
  z-index: 1;
}

.carousel-description span{
  color: gray;
}

.plant-img{
  position: absolute;
  width: 350px;

}