.home-images {
  width: 80%;
  height: 80%;
}
.carousel-item {
  width: 50%;
  margin-right: -50%;
}

.carousel-inner {
  position: relative;
  left: 34%;
}

.carousel-caption {
  text-align: inherit;
}
